* {
	padding: 0;
	margin: 0;
}
 
body {
	font-family: tahoma;
	font-size: 11px;
	color: #666;
	background-image: url(images/background.gif);
	background-repeat: repeat-y;
	background-color: #e0ffff;
}
 
#nav {
	float:left;
	padding-top: 100px;
	width: 310px;
}
 
#nav p {
	float: right;
}

#nav p a {
	margin-top: 2px;
	font-family: Verdana;
	font-size: 12px;
	color: #292929;
	text-decoration: none;
	padding-top: 7px;
	padding-left: 5px;
	width: 155px;
	height: 23px;
	float: right;
}

#nav p a:hover {
	background: #e0ffff;
}
 
#nav p.active a {
	color: #ffaa00;
	background: #e0ffff;
}

#header {
	padding-left: 310px;
	padding-top: 100px;
}

#article {
	padding-left: 310px;
}

#footer {
	padding-left: 310px;
	margin-top:100px;
	width:500px;
}

#article ul {
	padding-left: 16px;
}

#header img {
	margin: 0;
	border: none;
}

#footer img,
#article img {
	margin-right: 10px;
	border: 0;
}

h1 {
	font-size: 11px;
	color: #FF00AA;
	font-weight: bold;
}

h2 {
	font-weight: bold;
	font-size: 10px;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/*
 *	Highslide
 */
.highslide {
	cursor: url(highslide/graphics/zoomin.cur), pointer;
	outline: none;
}
.highslide img {	
	border: 2px solid gray;	
}
.highslide:hover img {	
	border: 2px solid white;
}

.highslide-image {
	border: 10px solid white;
	cursor: pointer; /* opera */
	cursor: url(highslide/graphics/zoomout.cur), pointer;
}
.highslide-image-blur {	
	cursor: pointer;
}
.highslide-caption {
	display: none;
	border: 5px solid;
	border-top: none;
	padding: 5px;
}
.highslide-display-block {
	display: block;
}
.highslide-display-none {
	display: none;
}
.highslide-loading {
	display: block;
	color: white;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 3px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: black;

	padding-left: 22px;
	background-image: url(highslide/graphics/loader.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
}
a.highslide-credits,
a.highslide-credits i {
	padding: 2px;
	color: silver;
	text-decoration: none;
	font-size: 10px;
}
a.highslide-credits:hover,
a.highslide-credits:hover i {
	color: white;
	background-color: gray;	
}
